<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<th:block th:replace="layout :: head"></th:block>

<body style="background-color: black; color: white;">

	<div th:replace="layout :: nav"></div>

	<header class="text-center">
		<div class="intro-text">
			<h1>Monkey Movie</h1>
			<!-- <a href="#contact" class="btn btn-default btn-lg page-scroll">Kontaktirajte
				nas</a>-->
			<p sec:authorize="!isAuthenticated()">Welcome to Monkey Movie.
				Login with Facebook to search movies!</p>
			<p sec:authorize="isAuthenticated()">Welcome to Monkey Movie.
				Enjoy searching movies!</p>
		</div>

	</header>

	<footer>
		<div class="row justify-content-center">
			<a href="/privacy_policy" class="text-center">Privacy Policy</a>
		</div>
	</footer>
	<th:block th:replace="layout :: script"></th:block>
</body>
</html>