<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<link rel="stylesheet" th:href="@{/app.css}" />

<th:block th:replace="layout :: head"></th:block>

<body style="background-color: #000000c9; color: white;">

	<div class="container">
		<div th:replace="layout :: nav"></div>

		<br />
		<br />
		<br/>
		<br />
		<div class="row justify-content-center">
			<h1 class="text-center">Search for movies</h1>
		</div>
		<br />
		<div class="row justify-content-center">
			<form th:action="@{/movies/searched}" method="GET">
				<input id="movieTitle" name="movieTitle" type="text"
					style="border-radius: 10px;" placeholder="  Enter movie title" />
				<button class="btn" type="submit"
					style="width: 50px; background-color: #ffffff; color: black; border-radius: 40px;">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</form>
		</div>
		<br />

		<div class="row justify-content-center"
			th:if="${#lists.isEmpty(movies)} and ${firsttime} == 'n'">
			<p class="text-center">No results for searched movie title.</p>
		</div>

		<div class="row justify-content-center"
			th:if="${#lists.isEmpty(movies)} and ${firsttime} == 'y'"
			style="width: 100%; margin: auto;">
			<img
				src="https://cdn0.iconfinder.com/data/icons/video-movies-tv/24/search-television-movies-find-file-tv-query-video-512.png"
				style="width: 50px; margin-top: 50px;" />
		</div>

		<div class="row justify-content-center">

			<table id="movieTable" class="table" style="color: white;"
				th:if="${not #lists.isEmpty(movies)}">

				<tbody>

					<tr class="row" th:each="movie: ${movies}">
						<td class="text-center col-12 col-lg-4">
							<img style="border-radius: 10px" th:src="${movie.poster_path}"
								alt="No image" />
						</td>
						<td class="text-center col-12 col-lg-8">
							<div style="position: relative;">
								<h2 th:text="${movie.title}"></h2>
								<div class="row justify-content-center">
									<br />
									<br />
									<a
										th:style="${#lists.contains(watchList, movie.id) or #lists.contains(watchedMovies, movie.id) ? 'display:none' : 'display:block'}"
										th:id="${movie.id}" class="addWatchlist"
										title="Add to watchlist">
										<i class="fa fa-plus" aria-hidden="true"
											style="margin-right: 20px; font-size: 1.7em; cursor: pointer"></i>
									</a>
									<a
										th:style="${#lists.contains(watchList, movie.id)  ? 'display:block' : 'display:none'}"
										th:id="${movie.id}" class="removeWatchlist"
										title="Remove from watchlist">
										<i class="fa fa-check" aria-hidden="true"
											style="margin-right: 20px; font-size: 1.7em; color: green; cursor: pointer"></i>
									</a>
									<div class="watchedBtn" th:id="${movie.id}"
										th:style="${#lists.contains(watchedMovies, movie.id) ? 'display:none' : 'display:block'}">
										<a type="button" data-toggle="modal"
											th:attr="data-target='#modal'+${movie.id}"
											title="Mark as watched">
											<i class="fa fa-star" aria-hidden="true"
												style="margin-right: 5px; font-size: 1.7em; cursor: pointer"></i>
										</a>

									</div>

									<a
										th:style="${#lists.contains(watchedMovies, movie.id) ? 'display:block' : 'display:none'}"
										th:id="${movie.id}" class="unmarkWatched"
										title="Unmark as watched">
										<i class="fa fa-star" aria-hidden="true"
											style="margin-right: 5px; font-size: 1.7em; color: yellow; cursor: pointer"></i>
									</a>

									<div th:id="${'modal' + movie.id}" class="modal fade"
										id="exampleModalCenter" tabindex="-1" role="dialog"
										aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-body">
													<div class="row justify-content-center">
														<div class="rating" style="color: black">
															<span th:id="${movie.id}" class="markWatched"
																data-rating="5" style="font-size: 1.7em;">☆</span>
															<span th:id="${movie.id}" class="markWatched"
																data-rating="4" style="font-size: 1.7em;">☆</span>
															<span th:id="${movie.id}" class="markWatched"
																data-rating="3" style="font-size: 1.7em;">☆</span>
															<span th:id="${movie.id}" class="markWatched"
																data-rating="2" style="font-size: 1.7em;">☆</span>
															<span th:id="${movie.id}" class="markWatched"
																data-rating="1" style="font-size: 1.7em;">☆</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<p class="card-text" style="padding: 10px; min-height: 100px"
									th:text="${movie.overview}"></p>

								<div class="row justify-content-center">
									<a th:href="@{/movies/details(id=${movie.id})}"
										class="btn btn-primary text-center"
										style="background-color: black; border-color: white;">See
										movie details</a>
								</div>

							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<th:block th:replace="layout :: script"></th:block>

</body>
</html>