<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">

<th:block th:replace="layout :: head"></th:block>

<body style="background-color: #000000c9; color: white;">

	<div th:replace="layout :: nav"></div>
	
	<div class="container"
		style="margin: auto; width: 40%; margin-top: 100px; margin-bottom: 5%; text-align: center;">

		<h1 class="text-center">Recommended movies</h1>
		<br/>
		<br/>
		
		todo
	</div>

	<th:block th:replace="layout :: script"></th:block>
</body>
</html>