<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">

<th:block th:replace="layout :: head"></th:block>

<body style="background-color: #000000c9; color: white;">

	<div th:replace="layout :: nav"></div>

	<div class="container">

		<br />
		<br />
		<br />
		<br />
		<div class="row justify-content-center" style="margin: 5px;">
			<h1 class="text-center">Recommended movies</h1>
			<a href="/movies/recommendation">
				<i class="fa fa-refresh"></i>
			</a>
		</div>
		<br />

		<div class="row justify-content-center" style="display: none;">
			<p id="smartMonkey" style="font-size: 100px; cursor: pointer;">&#128018;</p>
		</div>

		<div id="group1" class="row justify-content-center"
			style="display: none;">
			<p id="1-1" class="one" style="font-size: 100px; cursor: pointer;">&#128512;</p>
			<p id="1-2" class="one" style="font-size: 100px; cursor: pointer;">&#128514;</p>
			<p id="1-3" class="one" style="font-size: 100px; cursor: pointer;">&#128546;</p>
		</div>
		<div id="group2" class="row justify-content-center"
			style="display: none;">
			<p class="two" style="font-size: 100px; cursor: pointer;">&#128525;</p>
			<p class="two" style="font-size: 100px; cursor: pointer;">&#128519;</p>
			<p class="two" style="font-size: 100px; cursor: pointer;">&#128561;</p>
		</div>
		<div id="group3" class="row justify-content-center"
			style="display: none;">
			<p class="three" style="font-size: 100px; cursor: pointer;">&#127936;</p>
			<p class="three" style="font-size: 100px; cursor: pointer;">&#128165;</p>
			<p class="three" style="font-size: 100px; cursor: pointer;">&#128201;</p>
		</div>
		<div id="spinner" class="row justify-content-center"
			style="display: none;">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>

		<br />
		<div id="smartResult" class="card"
			style="display: none; color: white; background-color: gray">
			<div class="row justify-content-center no-gutters">
				<div class="col-auto">
					<img id="smart-poster" class="img-fluid"
						onerror="this.src='/no-cover.png'" style="margin: -1px;" />
				</div>
				<div class="col">
					<div class="card-block px-2">
						<h2 id="smart-title" class="card-title text-center">Title</h2>
						<br />
						<p id="smart-description" class="card-text text-center"
							style="padding-left: 10px; padding-right: 10px;">Description</p>
						<br />
						<div class="row justify-content-center">
							<a id="smart-details" class="btn btn-primary text-center">Details</a>
							<a id="smart-next" style="cursor: pointer;"
								class="offset-1 btn btn-danger text-center">Next</a>
						</div>
					</div>
					<br />
				</div>
			</div>
		</div>

		<!-- <div id="smartResult" class="row justify-content-center"
			style="display: none;">
			<div class="card col-10 col-md-5 text-center"
				style="color: white; padding: 20px; margin: 3px; background-color: gray">
				<img id="smart-poster" class="text-center card-img-top"
					style="border-radius: 10px" onerror="this.src='/no-cover.png'" />
				<div class="card-body justify-content-center">
					<h5 id="smart-title" class="card-title text-center"></h5>
					<p id="smart-description" class="card-text text-center"></p>
					<a id="smart-details" class="btn btn-primary">Details</a>
					<a id="smart-next" class="btn btn-primary">Next</a>
				</div>
			</div>
		</div> -->

		<div id="stupidMonkey" class="row justify-content-center">
			<div th:each="mov : ${movies}"
				class="card col-10 col-md-3 text-center"
				style="color: white; padding: 20px; margin: 3px; background-color: gray">
				<img th:src="${mov.poster_path}" class="text-center card-img-top"
					style="border-radius: 10px" onerror="this.src='/no-cover.png'" />
				<div class="card-body justify-content-center">
					<h5 class="card-title text-center" th:text="${mov.title}"></h5>
					<p class="card-text text-center" th:text="${mov.overview}"
						style="display: block; max-width: 100%; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;"></p>
					<a th:href="@{/movies/details(id=${mov.id})}"
						class="btn btn-primary">Details</a>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<th:block th:replace="layout :: script"></th:block>
	<script>
		$(document)
				.ready(
						function() {

							function getNext() {
								$("#smartResult").css("display", "none");
								$("#spinner").css("display", "");

								$
										.ajax({
											url : "/movies/recommendation/smart",
											success : function(result) {
												console.log(result);
												$("#smart-poster").attr("src",
														result.poster_path);
												$("#smart-title")["0"].innerHTML = result.title;
												$("#smart-description")["0"].innerHTML = result.overview;
												$("#smart-details").attr(
														"href",
														"/movies/details?id="
																+ result.id);

												$("#spinner").css("display",
														"none");
												$("#smartResult").css(
														"display", "");
											}
										});
							}

							$("#smartMonkey").click(function() {
								var id = this.id;
								$("#page-header").css("display", "none");
								$("#smartMonkey").css("display", "none");
								$("#stupidMonkey").css("display", "none");
								$("#group1").css("display", "");
							});
							$(".one").click(function() {
								var id = this.id;
								$("#group1").css("display", "none");
								$("#group2").css("display", "");
							});
							$(".two").click(function() {
								var id = this.id;
								$("#group2").css("display", "none");
								$("#group3").css("display", "");
							});
							$(".three").click(function() {
								var id = this.id;
								$("#group3").css("display", "none");
								getNext();
							});
							$("#smart-next").click(function() {
								getNext();
							});
						});
	</script>
</body>
</html>