<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">

<th:block th:replace="layout :: head"></th:block>

<body style="background-color: #000000c9; color: white;">

	<div th:replace="layout :: nav"></div>

	<div class="container">

		<br />
		<br />
		<br />
		<br />
		<div class="row justify-content-center">
			<h1 class="text-center">Recommended movies</h1>
			<a href="/movies/recommendation">
				<i class="fa fa-refresh"></i>
			</a>
		</div>
		<br />

		<div class="row justify-content-center">
			<div th:each="mov : ${movies}"
				class="card col-10 col-md-3 text-center"
				style="color: black; padding: 20px; margin: 3px">
				<img th:src="${mov.poster_path}" class="text-center card-img-top"
					style="border-radius: 10px" />
				<div class="card-body justify-content-center">
					<h5 class="card-title text-center" th:text="${mov.title}"></h5>
					<p class="card-text text-center" th:text="${mov.overview}"
						style="overflow: hidden; max-height: 200px; text-overflow: ellipsis;"></p>
					<a th:href="@{/movies/details(id=${mov.id})}"
						class="btn btn-primary">Details</a>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="layout :: script"></th:block>
</body>
</html>