<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">

<th:block th:replace="layout :: head"></th:block>

<body style="background-color: #000000c9; color: white;">

	<div th:replace="layout :: nav"></div>
	
	<div class="container"
		style="margin: auto; width: 80%; margin-top: 100px; margin-bottom: 5%; text-align: center;">
		<h1>Personal information</h1>
	</div>
	<div class="container" style="margin: auto; width: 80%;">
		<div class="row" style="margin: auto; width: 100%">
			<div class="col-sm-6" style="margin: auto">
				<img alt="User Pic" style="width: 100%; border-radius: 60px"
					th:src="${user.profilePicture}" />

			</div>
			<div class="col-sm-6">
				<div class="container">
					<h2 th:text="${user.name}" style="margin-top: 20px;"></h2>
					<p style="margin-top: 40px;">
						<i class="fa fa-envelope" aria-hidden="true"
							style="margin-right: 5px;"></i>
						<a th:text="${user.email}"></a>
					</p>
					<p>
						<i class="fa fa-birthday-cake" aria-hidden="true"
							style="margin-right: 5px;"></i>
						<a th:text="${user.birthday}"></a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="layout :: script"></th:block>
</body>
</html>